//*Bar chart style
.apexcharts-bar-area {
  fill: #5e44a2 !important;
  width: 30%;
}

.apexcharts-bar-area:nth-child(1) {
  opacity: 1;
}

.apexcharts-bar-area:nth-child(2) {
  opacity: 0.7;
}

.apexcharts-bar-area:nth-child(3) {
  opacity: 0.6;
}

.apexcharts-bar-area:nth-child(4) {
  opacity: 0.5;
}

.apexcharts-bar-area:nth-child(5) {
  opacity: 0.4;
}

.apexcharts-bar-area:nth-child(6) {
  opacity: 0.3;
}

.apexcharts-bar-area:nth-child(7) {
  opacity: 0.1;
}

.chart-wrapper {
  background-color: var(--white);
  border-radius: 10px;
  height: 250px;
  width: 300px;
}

#chart {
  height: 100%;
  padding: 10px;
  width: 100%;
}

.title {
  columns: 2;
  margin: 0 40px;
  h1 {
    color: var(--secondary-color);
    column-span: all;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  a {
    color: var(--secondary-color);
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }
}

.area-chart {
  border-top: 0.6951px solid var(--chart-border);
}

//* App wrapper
.wrapper {
  max-width: 87.5rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
}
.right-sidebar {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
//*Checkbox styling
.checkbox {
  display: flex;
  align-items: center;
}

.add-customers {
  height: 43px;
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
}

.check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--orange);
}

.check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-label input:checked ~ .checkmark {
  background-color: var(--orange);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-label input:checked ~ .checkmark:after {
  display: block;
}

.check-label .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon {
  position: relative;
}
#file {
  background: var(--white);
  outline: none;
  position: relative;
}

::-webkit-file-upload-button {
  color: var(--white);
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 30px;
  padding: 2px;
}

//*Loading..
.loader-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.active {
  transform: translateY(0);
}

.spinner {
  position: absolute;
  top: 60px;
  display: none;

  .arrow_box {
    position: relative;
    background: var(--white);
    border: 4px solid var(--white);
    height: 30px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    &:after,
    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: var(--white);
      border-width: 30px;
      margin-left: -30px;
    }
    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: var(--white);
      border-width: 0;
    }
  }
}
.spinnerToggle {
  display: block;
}

.spinner.message-spinner {
  left: -41px;
}
.spinner.notification-spinner {
  left: 4px;
}

//*Sidebar links
.active-side {
  background-color: var(--hover);
  border-radius: 30px;
  color: var(--main-color);
}

.active-side a {
  color: var(--main-color);
}

.active-side path {
  stroke: var(--main-color);
}

//*Cards filter
.card-id.disabled {
  background-color: var(--late-color) !important;
}

.room-size.disabled {
  display: none !important;
}

.home-current-status.disabled {
  color: var(--light-main) !important;
}

.sales {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 10px;

  span {
    font-size: 16px;
  }

  button {
    color: var(--light-black);
    font-size: 12px;
    margin-right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
}

//*Area chart title
.active-area {
  color: var(--main-color) !important;
  font-weight: bold;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
}

.far {
  position: absolute;
  color: var(--secondary-color);
  top: 45px;
  right: 9px;
}

.apexcharts-legend {
  top: 50px !important;
}
//* Donut Chart

.donut-container {
  width: 200px;
  height: 200px;
  position: relative;
}

#svg {
  width: 100%;
  height: 100%;
  animation: show 1s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes percent1 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 55 * var(--a1) / 100)
      calc(2 * var(--pi) * 55 * calc(1 - var(--a1) / 100));
  }
}

@keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 55 * var(--a2) / 100)
      calc(2 * var(--pi) * 55 * calc(1 - var(--a2) / 100));
  }
}

@keyframes percent3 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 55 * var(--a3) / 100)
      calc(2 * var(--pi) * 55 * calc(1 - var(--a3) / 100));
  }
}

.donut {
  transform-origin: center center;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;

  &:nth-child(1) {
    transform: rotateZ(-90deg);
    animation: percent1 1s ease-in-out forwards;
  }
  &:nth-child(2) {
    transform: rotateZ(calc(-90deg + calc(var(--a1) * 360deg / 100)));
    animation: percent2 1s ease-in-out forwards;
  }
  &:nth-child(3) {
    transform: rotateZ(
      calc(
        -90deg + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100)
      )
    );
    animation: percent3 1s ease-in-out forwards;
  }
}

.donut:first-child:hover {
  stroke-width: 50;
  opacity: 0.7;
}

.donut:nth-child(2):hover {
  stroke-width: 45;
  opacity: 0.7;
}

.donut:nth-child(3):hover {
  stroke-width: 40;
  opacity: 0.7;
}

.right-donut {
  div {
    display: flex;
    align-items: center;
    margin: 15px 5px 25px 0;
  }
  .round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;

  }
  .round-one{
    background-color: #5d44a2;
  }
  .round-two{
    background-color: #B6A4E5;
  }
  .round-three{
    background-color: #E2DBF6;
  }

}
